@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
    background: rgb(125, 14, 14);
    background-image: linear-gradient(180deg, rgb(160, 9, 9) 0%, rgba(0, 0, 0, 1) 20%);
}

* {
    margin: 0;
    padding: 0;
}


nav {
    font-family: 'Ubuntu', sans-serif;
    height: 86vh;
    width: 15vw;
}

.navigation {
    position: fixed;
    height: 86vh;
    width: 15vw;
    background-color: black;
    float: left;
    display: flex;
    flex-direction: row;
    top: 0px;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: white;
    flex-direction: column;
}

.brand img {
    width: 40px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

ul {
    font-size: 16px;
    transition: font-size 0.1s linear;
}

li {
    display: flex;
    align-items: center;
    padding: 12px 34px;
    cursor: pointer;
    transition: font-size 0.1s linear;
}

.ul2 {
    margin-bottom: 40px;
}

.ul3 {
    margin-bottom: 20px;
}

.ul1 li:hover {
    font-size: 22px;
}

li:hover {
    color: red;
    font-size: 18px;
}

.user {
    color: white;
    font-size: 10px;
    margin-left: 42px;
    cursor: pointer;
}

.user:hover {
    color: red;
}


.fa-solid {
    padding: 0 10px;
}

.fa-volume-high {
    margin-left: 0 10px;
    padding: 0 45px;
}

.profilename {
    display: flex;
    flex-direction: row;
    font-size: 8px;
    height: 40px;
    width: 170px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 30px;
    left: 1061px;
    bottom: 1427px;
    cursor: pointer;
    transition: font-size 0.1s linear;
}

.profilename img {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    margin-right: 10px;
    transition: height 0.1s linear, width 0.1s linear;
}

.profilename:hover {
    background-color: #626161;
    font-size: 9px;
}

.profilename:hover img {
    height: 35px;
    width: 35px;
}

.info {
    background-color: #626161;
    font-size: 7px;
    width: 160px;
    height: 160px;
    display: grid;
    position: absolute;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    left: 1069px;
    top: 80px;
    border-radius: 3px;
    cursor: pointer;
}

.infonone {
    display: none;
}

.info div {
    cursor: pointer;
    color: white;
    padding-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.info div:hover {
    background-color: #8b8888;
}

.container {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 1500px;
    left: 15vw;
    margin: 0 0;
    padding: 0 0;
    /* display: none; */
}

.head {
    background: rgb(103, 9, 9);
    background: linear-gradient(180deg, rgba(103, 9, 9, 1) 0%, rgba(0, 0, 0, 1) 80%);
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
    width: 75vw;
    height: 25vh;
    display: flex;
    margin: 23px auto;
    border-radius: 20px;
    flex-direction: row;
    padding: 20px 20px;
    justify-content: flex-start;
    align-items: center;
}

.image img {
    height: 10vw;
    width: 10vw;
    margin-left: 1vw;
    margin-right: 3vw;
}

.welcome h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 20px;
}

.greets {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: inline-block;
    width: 300px;
    position: relative;
    left: 55px;
}

.sections {
    font-family: 'Ubuntu', sans-serif;
    height: 28vh;
    width: 78vw;
    display: grid;
    grid-template-areas: "a a a";
    grid-auto-rows: 14vh;
    grid-auto-columns: 25vw;
    margin: 10px auto;
    padding: 20px 20px;
    gap: 15px 20px;
}

.sections img {
    height: 14vh;
    width: 14vh;
    padding: 0 0;
    margin-right: 20px;
    border-radius: 5px;
}

.subsection {
    font-size: 10px;
    background: #414141;
    /* background: #2D3436; */
    color: white;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    transition: font-size 0.1s linear;
}

.subsection:hover {
    background: #626161;
    cursor: pointer;
    font-size: 11px;
}

.play img {
    height: 8vh;
    width: 8vh;
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 0.2s linear, height 0.1s linear, width 0.1s linear;
}

.subsection:hover .play img {
    /* display: block; */
    /* visibility: visible; */
    opacity: 1;
}

.play img:hover {
    height: 9vh;
    width: 9vh;
}

.play {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    position: absolute;
    margin-left: 300px;
    align-items: center;
}

.foryou {
    color: white;
    margin-top: 20px;
    display: inline-block;
    width: 400px;
    position: relative;
    left: 56px;
}

.sections2 {
    font-family: 'Ubuntu', sans-serif;
    height: 41vh;
    width: 78vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px auto;
    padding: 20px 20px;
    gap: 0 20px;
}

.sections2 img {
    height: 25vh;
    width: 25vh;
    padding: 20px 10px 0;
    margin: 0 auto;
    border-radius: 5px;
    transition: height 0.1s linear, width 0.1s linear;
}

.subsection2 {
    font-size: 10px;
    background: #1c1c1c;
    color: white;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 2px;
}

.playsec2 {
    position: absolute;
    margin-left: 135px;
    margin-top: 125px;
    cursor: pointer;
}

.playsec2 img {
    height: 6vh;
    width: 6vh;
    opacity: 0;
    transition: opacity 0.2s linear, height 0.1s linear, width 0.1s linear;

}

.playsec2 img:hover {
    height: 7vh;
    width: 7vh;
}

.subsection2:hover {
    background: #626161;
}

.subsection2:hover .imgsec2 {
    height: 27vh;
    width: 27vh;
    padding: 20px 10px 0;
}

.subsection2:hover .playsec2 img {
    opacity: 1;
}

.content {
    margin: 0 18px;
    padding: 10px 0 0 0;
}

.content p {
    color: rgb(144, 141, 141);
    font-size: 15px;
    padding: 5px 0;
}

.recent {
    color: white;
    margin-top: 20px;
    display: inline-block;
    width: 400px;
    position: relative;
    left: 56px;
    padding-top: 10px;
}

.sections3 {
    font-family: 'Ubuntu', sans-serif;
    height: 41vh;
    width: 78vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px auto;
    padding: 20px 20px;
    gap: 0 20px;
}

.sections3 img {
    height: 25vh;
    width: 25vh;
    padding: 20px 10px 0;
    margin: 0 auto;
    border-radius: 5px;
    transition: height 0.1s linear, width 0.1s linear;
}

.subsection3 {
    font-size: 10px;
    background: #1c1c1c;
    color: white;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 2px;
}

.playsec3 {
    position: absolute;
    margin-left: 135px;
    margin-top: 125px;
    cursor: pointer;
}

.playsec3 img {
    height: 6vh;
    width: 6vh;
    opacity: 0;
    transition: opacity 0.2s linear, height 0.1s linear, width 0.1s linear;

}

.playsec3 img:hover {
    height: 7vh;
    width: 7vh;
}

.subsection3:hover {
    background: #626161;
}

.subsection3:hover .imgsec3 {
    height: 27vh;
    width: 27vh;
    padding: 20px 10px 0;
}

.subsection3:hover .playsec3 img {
    opacity: 1;
}

.container2{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 1600px;
    left: 15vw;
    margin: 0 0;
    padding: 0 0;
    display: none;
}

.container_search {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 13vh;
}

.profile2 {
    bottom: 30px;
}

.recentsearch {
    color: white;
    font-size: 15px;
    display: inline-block;
    width: 300px;
    position: relative;
    left: 55px;
    margin-top: 120px;
}

.previous {
    background-color: #1c1c1c;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    position: relative;
    top: 26px;
    left: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.previousicon {
    /* display: flex;
    position: relative;
    top: 19px;
    height: 5.5vh; */
    cursor: pointer;
}

.previous:hover {
    background-color: rgb(75, 73, 73);
}

.searchicon {
    color: rgb(98, 94, 94);
    display: flex;
    position: relative;
    top: 20px;
    left: 40px;
    height: 5.5vh;
    border-radius: 20px;
    cursor: pointer;
}

.search {
    display: flex;
    padding: 10px;
    margin: 10px;
    position: relative;
    right: 20px;
    align-items: center;
    height: 7vh;
    width: 30vw;
}

.search input {
    font-family: 'Ubuntu', sans-serif;
    height: 5.5vh;
    width: 24vw;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    text-indent: 40px;
}

.searchicon:hover {
    color: black;
}

.recentsections {
    font-family: 'Ubuntu', sans-serif;
    height: 41vh;
    width: 78vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px auto;
    padding: 20px 20px;
    gap: 0 20px;
}

.recentsections img {
    height: 25vh;
    width: 25vh;
    padding: 20px 10px 0;
    margin: 0 auto;
    border-radius: 5px;
    transition: height 0.1s linear, width 0.1s linear;
}

.subsection4 {
    font-size: 10px;
    background: #1c1c1c;
    color: white;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 2px;
}

.playsec4 {
    position: absolute;
    margin-left: 135px;
    margin-top: 125px;
    cursor: pointer;
}

.playsec4 img {
    height: 6vh;
    width: 6vh;
    opacity: 0;
    transition: opacity 0.2s linear, height 0.1s linear, width 0.1s linear;
}

.playsec4 img:hover {
    height: 7vh;
    width: 7vh;
}

.subsection4:hover {
    background: #626161;
}

.subsection4:hover .imgsec4 {
    height: 27vh;
    width: 27vh;
    padding: 20px 10px 0;
}

.subsection4:hover .playsec4 img {
    opacity: 1;
}

.content {
    margin: 0 18px;
    padding: 10px 0 0 0;
}

.content p {
    color: rgb(144, 141, 141);
    font-size: 15px;
    padding: 5px 0;
}

.browseall {
    color: white;
    font-size: 15px;
    display: inline-block;
    width: 300px;
    position: relative;
    left: 55px;
    margin-top: 10px;
}

.browsesections {
    height: 28vh;
    width: 78vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px auto;
    padding: 20px 20px;
    gap: 30px 0;
}

.browsesections img {
    height: 28vh;
    width: 28vh;
    padding: 0 0;
    border-radius: 10px;
}

.subsection5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27vh;
}

.playsec5 {
    position: absolute;
    margin-left: 135px;
    margin-top: 125px;
    cursor: pointer;
}

.playsec5 img {
    height: 6vh;
    width: 6vh;
    opacity: 0;
    transition: opacity 0.2s linear, height 0.1s linear, width 0.1s linear;
}

.playsec5 img:hover {
    height: 7vh;
    width: 7vh;
}

.subsection5:hover .imgsec5 {
    height: 27vh;
    width: 27vh;
}

.subsection5:hover .playsec5 img {
    opacity: 1;
}

.playlists1 {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 1600px;
    left: 15vw;
    margin: 0 0;
    padding: 0 0;
    display: none;
}

.playlist {
    background: rgb(16, 11, 84);
    background: linear-gradient(90deg, rgba(16, 11, 84, 1) 42%, rgba(22, 22, 133, 1) 100%);
    color: white;
    height: 45vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
}

.playlist img {
    height: 33vh;
    margin-right: 30px;
}
.playcontent{
    margin-top: 88px;
    /* position: relative;
    top: 45px; */
}
.playcontent h1 {
    font-size: 90px;
    margin-bottom: 25px;
}

.playcontent img {
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    bottom: 3px;
    left: 27px;
    height: 25px;
    width: 25px;
}

#playinfo1 {
    display: flex;
    position: relative;
    right: 26px;
}

.profile3 {
    left: 1061px;
    bottom: 1530px;
}

.info3 {
    left: 1066px;
    top: 80px;
}

.playlists2 {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 1600px;
    left: 15vw;
    margin: 0 0;
    padding: 0 0;
    display: none;
}
.playlists2 .playlist{
    background: rgb(84,50,11);
background: linear-gradient(90deg, rgba(84,50,11,1) 42%, rgba(133,98,22,1) 100%);
}
#playinfo2 {
    display: flex;
    position: relative;
    right: 26px;
}

.playlists3 {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 1600px;
    left: 15vw;
    margin: 0 0;
    padding: 0 0;
    display: none;
}
.playlists3 .playlist{
    background: rgb(10,10,9);
background: linear-gradient(90deg, rgba(10,10,9,1) 42%, rgba(68,66,61,1) 100%);
}
#playinfo3 {
    display: flex;
    position: relative;
    right: 26px;
}

.playlists4 {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 1600px;
    left: 15vw;
    margin: 0 0;
    padding: 0 0;
    display: none;
}
.playlists4 .playlist{
    background: rgb(6,73,6);
background: linear-gradient(90deg, rgba(6,73,6,1) 42%, rgba(40,111,18,1) 100%);
}
#playinfo4 {
    display: flex;
    position: relative;
    right: 26px;
}

.playlists5 {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 1600px;
    left: 15vw;
    margin: 0 0;
    padding: 0 0;
    display: none;
}
.playlists5 .playlist{
    background: rgb(6,12,73);
background: linear-gradient(90deg, rgba(6,12,73,1) 42%, rgba(25,18,111,1) 100%);
}
#playinfo5 {
    display: flex;
    position: relative;
    right: 26px;
}

.playlists6 {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 1600px;
    left: 15vw;
    margin: 0 0;
    padding: 0 0;
    display: none;
}
.playlists6 .playlist{
    background: rgb(73,27,6);
background: linear-gradient(90deg, rgba(73,27,6,1) 42%, rgba(111,61,18,1) 100%);
}
#playinfo6 {
    display: flex;
    position: relative;
    right: 26px;
}



.bottom {
    position: fixed;
    height: 14vh;
    width: 100vw;
    background-color: rgb(31, 29, 29);
    border-width: 5px;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    display: flex;
    position: relative;
    bottom: 12px;
    margin-left: 5px;
}

.icons i {
    cursor: pointer;
    margin: 0 5px;
}

#myProgressBar {
    width: 35vw;
    margin-top: 10px;
}

.current{
    font-family: 'Ubuntu', sans-serif;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 8vh;
    width: 22vw;
    left: 20px;
    bottom: 25px;
    justify-content: flex-start;
}
.current img{
    margin-right: 10px;
}
.currentinfo{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 11px;
    align-items: flex-start;
    justify-content: flex-start;
}
.currentinfo h1{
    color: white;
    font-size: 15px;
    margin-bottom: 6px;
}
.currentinfo p{
    color: rgb(176, 172, 172);
    font-size: 12px;
}
.like{
    display: flex;
    position: relative;
    height: 10px;
    top: 25px;
    left: 10px;
    cursor: pointer;
}

.like .likecolor{
    height: 10px;
    color: rgb(43, 190, 43);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.like .liketransp{
    height: 10px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.rightbottom{
    /* color: green; */
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 1200px;
    bottom: 28px;
    height: 8vh;
    width: 22vw;
    justify-content: flex-start;
}
.rbsection{
    color: rgb(175, 173, 173);
    display: flex;
    position: relative;
    height: 10px;
    top: 25px;
    left: 10px;
    cursor: pointer;
}
.rbsection:hover{
    color: white;
}
.volume{
    color: rgb(175, 173, 173);
    display: flex;
    position: relative;
    height: 10px;
    top: 30px;
    left: 13px;
    cursor: pointer;
}
.volume:hover{
    color: white;
}
input[type="range"]{
    /* appearance: none; */
    cursor: pointer;
    background: #43e5f7;
    height: 4px;
}

/* input[type="range"]:hover{
   background: greenyellow; 
} */
.screensize{
    color: rgb(175, 173, 173);
    display: flex;
    position: relative;
    height: 10px;
    top: 25px;
    left: 20px;
    cursor: pointer;
}
.screensize:hover{
    color: white;
}


